


/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

 @font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Regular.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}

.bordered{
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid grey;
  width: 150px;
}

select.bordered{
  width: 170px;
}

label{
  font-weight: bold;
  display: block;
}

.float-left{
  float: left;
  display: inline-block;
}
